$clrBg: #2b2b2b;
$clrText: #eeeeee;
$clrBgInput: #585858;
$clrBorder: #737373;
$clrBorderHover: #a3a3a3;
$clrPlaceholder: #979797;

$font-family-roboto: 'Roboto', sans-serif;

.app {
  height: 100%;
  background: $clrBg;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .inputWrapper {
    display: flex;
    align-items: center;
    margin-top: 16px;

    .label {
      width: 80px;
      color: $clrText;
    }
  }

    .form {
      display: flex;
      margin-top: 16px;

      .selectType {
        flex-shrink: 0;
        width: 140px;
        margin-right: 16px;
      }
    }

    .input {
      height: 38px;
      width: 760px;
      padding: 0 10px;
      outline: none;
      color: $clrText;
      font-family: monospace;
      font-size: 14px;
      border-radius: 4px;
      background: $clrBgInput;
      border: 1px solid $clrBorder;
      transition: border-color 0.1s;

      &:hover {
        border-color: $clrBorderHover;
      }

      &:focus {
        border-color: $clrBorderHover;
      }

      &::placeholder {
        color: $clrPlaceholder;
      }
    }
}
