#root {
  height: 100%;
  --colorMain: #2b2b2b
}

.app {
  height: 100%;
  background: var(--colorMain);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 500px;
}

.result {
  display: inline-flex;
  width: 100%;
  margin-top: 32px;
}

.typeSelector {
  width: 120px !important;
  margin-right: 16px !important;
}

.inputResult {
  /*width: 300px !important;*/
}