#root {
  height: 100%;
  --colorBg: #2b2b2b;
  --colorInputBg: #585858;
  --colorInputText: #e1e1e1;
  --colorInputBorder: #737373;
}

.app {
  height: 100%;
  background: var(--colorBg);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  color: var(--colorInputText) !important;
  background: var(--colorInputBg) !important;
  border: 1px solid var(--colorInputBorder) !important;
}

.ant-select-selector {
  color: var(--colorInputText) !important;
  background: var(--colorInputBg) !important;
  border: 1px solid var(--colorInputBorder) !important;
}

.wrapper {
  width: 500px;
}

.result {
  display: inline-flex;
  width: 100%;
  margin-top: 32px;
}

.typeSelector {
  width: 120px !important;
  margin-right: 16px !important;
}

.inputResult {
  /*width: 300px !important;*/
}